:root{
    --cor-base: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
    --cor-primaria: #1875E8;
    --cor-secundaria: #041832;
    --font-principal: 'Chakra Petch', sans-serif;
    --font-secundaria: 'Inter', sans-serif;
    --cor-texto-secundario: #FFF;
    --cor-botao-desabilitado: gray;
    --cor-botao-hover: #0F5BBE;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: var(--cor-base);
  
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

body::before {
    background-image: url("img/code.png");
    background-repeat: no-repeat;
    background-position: right;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

main{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container{
    border: 2px solid var(--cor-primaria);
    border-radius: 1.5rem;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-image: url("img/Ruido.png");
    background-size: 100% 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75rem;
    height: 40rem;
}

.container__conteudo{
    display: flex;
    align-items: center;
    position: absolute;

}

.container__informacoes{
    margin: 0 9rem 0 3rem;
    padding: 1rem;
    flex: 1;
}

.container__texto{
    margin: .7rem 0 .7rem 0;
    color: var(--cor-texto-secundario);
}

.container__texto h1{
    font-family: var(--font-principal);
    font-size: 4rem;
}

.container__texto p{
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
}

.container__input{
    border-radius: 1rem;
    border: 2px solid var(--cor-primaria);
    width: 100%;
    height: 4.5rem;
    margin: 1rem auto;
    padding: 1rem;
    font-family: var(--font-secundaria);
    color: var(--cor-primaria);
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #FFF;
}

.container__input:focus{
    outline: none;
    border: 2px solid var(--cor-primaria);
}


.container__botoes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    padding: 1rem;
    gap: 2rem;   
}

.container__botao{
    width: 100%;
    height: 3.5rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--cor-primaria);
    font-family: var(--font-secundaria);
    font-size: 1rem;
    font-weight: 700;
    color: var(--cor-texto-secundario);
    cursor: pointer;
}

.container__botao:disabled{
    background-color: var(--cor-botao-desabilitado);
}


.container__imagem-pessoa{
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 3rem 0 0;
}



.container__imagem-pessoa img{
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
}



footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent
}

.cont{
    font-family: var(--font-principal);
    font-size: 1rem;
    margin: 1rem;
    color: var(--cor-texto-secundario);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.cont i{
    color: var(--cor-texto-secundario);
    cursor: pointer;
}


/* Media Queries */

@media screen and (max-width: 900px) {
   
    .container{
        width: 90%;
        height: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    
    .container__conteudo{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        gap: 2rem;
    }

    .container__informacoes{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 1rem;
    }

    .container__texto{
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .container__texto h1{
        font-size: 3rem;
        margin: 1rem 0;
    }

    .container__texto p{
        font-size: 1.2rem;
    }

    .container__input{
        width: 90%;
        height: 4rem;
        margin: 1rem auto;
        padding: 1rem;
        font-size: 1.2rem;
    }
    
    .container__botoes{
        width: 90%;
        height: 4rem;
        margin: 1rem auto;
        padding: 1rem;
        gap: 2rem;   
    }
 
    .container__imagem-pessoa{
        display: none;
    }

    .contato{
        margin: 0;
        padding: 0;
    }

    .cont{
        display: block;
        text-align: center;
        font-size: 1rem;
        margin: 0;
        padding: 0;
    }
}